.user-info {
	position: relative;
	&__block {
		margin-bottom: 10px;
		font-size: 18px;
	}
	&__title {
		font-weight: 600;
		color: var(--secondary-color);
		padding-right: 7px;
	}
	&__value {
	}
	&__status {
		font-size: 12px;
		text-transform: uppercase;
	}
	&__repeat {
		cursor: pointer;
		font-weight: 600;
		font-size: 12px;
		padding: 0 10px;
		text-decoration: underline;
		color: var(--primary-color);
		transition: color 0.3s ease-in-out;
		&:hover {
			color: var(--secondary-color);
		}
	}
	&__form {
	}
	&__fields {
	}
	&__input {
		font-size: 18px;
		margin-bottom: 10px;
		label {
			font-weight: 600;
			padding-right: 5px;
			color: var(--secondary-color);
		}
		input {
			background-color: transparent;
			width: 100%;
			max-width: 300px;
			border-radius: 4px;
			padding: 3px 5px 0px 6px;
			&:focus {
				outline-color: var(--primary-color);
			}
		}
		&--edit {
			input {
				background-color: var(--items-bg-color);
			}
		}
	}
	&__actions {
		padding-top: 20px;
	}
	&__activate {
		font-size: 14px;
		font-weight: 500;
	}
	&__loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--disabled-color);
	}
	&__abort {
		cursor: pointer;
		font-weight: 600;
		margin-left: 30px;
		padding: 0 10px;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: var(--primary-color);
		}
	}
	&__delete {
		padding-top: 30px;
	}
}

.user-delete {
	&__inner {
		font-weight: 600;
	}
	&__text {
		color: var(--secondary-color);
		margin-bottom: 20px;
		p {
			span {
				color: var(--red-text);
				display: block;
				margin-bottom: 5px;
			}
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
	&__actions {
	}
	&__btn {
		padding: 7px 15px;
		border: 2px solid var(--red-text);
		border-radius: 16px;
		font-weight: 600;
		background-color: var(--primary-color);
		transition: all 0.3s ease-in-out;
		&:hover {
			color: var(--white-text);
			background-color: var(--red-text);
		}
	}
	&__message {
	}
	&__empty {
		color: var(--secondary-color);
		font-weight: 600;
	}
}
.user-delete-message {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	&.open {
		opacity: 1;
		visibility: visible;
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__inner {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
	}
	&__window {
		position: relative;
		padding: 15px;
		background-color: var(--items-bg-color);
		border-radius: 16px;
		max-width: 500px;
		min-width: 450px;
		min-height: 150px;
	}
	&__loader {
		padding-top: 10px;
	}
	&__title {
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		color: var(--red-text);
		margin-bottom: 20px;
	}
	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 50px;
	}
	&__btn {
		padding: 7px 15px;
		border: 2px solid var(--secondary-color);
		border-radius: 16px;
		font-weight: 600;
		transition: all 0.1s ease-in-out;
		&:hover {
			background-color: var(--secondary-color);
			color: var(--white-text);
		}
		&:last-child {
			border: 2px solid var(--red-text);
			&:hover {
				color: var(--white-text);
				background-color: var(--red-text);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.user-info {
		&__block {
			font-size: 16px;
		}
		&__input {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 480px) {
	.user-info {
		&__input {
			label {
				display: block;
				margin-bottom: 5px;
			}
		}
	}
	.user-delete {
		&__inner {
			font-size: 14px;
		}
	}
	.user-delete-message {
		&__window {
			min-width: 250px;
		}
		&__title {
			font-size: 18px;
		}
		&__actions {
			column-gap: 40px;
		}
	}
}
