.range {
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 10px;
	input {
		border-radius: 8px;
		width: 100%;
		border: 2px solid var(--secondary-color);
		outline: none;
		padding: 7px 10px;
		font-weight: 600;
		&::placeholder {
			// color: var(--secondary-color);
		}
		&:focus {
			outline: none;
			border: 2px solid var(--primary-color);
		}
	}
}

@media screen and (max-width: 480px) {
	.range {
		column-gap: 6px;
		input {
			border: 1px solid var(--secondary-color);
			padding: 5px 7px;
			&:focus {
				border: 1px solid var(--primary-color);
			}
		}
	}
}
