.review-form {
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 2px solid var(--secondary-color);
	&__title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	&__inner {
	}
	&__rating {
		margin-bottom: 10px;
	}
	&__descr {
		font-weight: 600;
		font-size: 18px;
		padding-right: 3px;
		display: inline-block;
		transform: translateY(-2px);
	}
	&__field {
		margin-bottom: 10px;
	}
	&__textarea {
		width: 100%;
		resize: none;
		border-radius: 8px;
		padding: 10px 15px;
		outline: none;
		height: 100px;
		margin-bottom: 3px;
		overflow-y: auto;
		background-color: var(--items-bg-color);
		&:focus {
			outline: 1px solid var(--primary-color);
		}
	}
	&__errors {
		font-size: 14px;
		color: var(--red-text);
		font-weight: 600;
	}
	&__button {
	}
}

.review-form-success {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 15px;
	color: var(--secondary-color);
	font-weight: 600;
	font-size: 18px;
}
