.product-rating {
	display: flex;
	align-items: center;
	line-height: 1;
	column-gap: 2px;
	&__body {
		display: flex;
		align-items: center;
		column-gap: 3px;
		font-weight: 600;
	}
	&__stars {
	}
	&__value {
		display: inline-block;
		padding-bottom: 1px;
	}
	&__reviews {
		font-size: 12px;
		color: var(--secondary-color);
		font-weight: 900;
		display: inline-block;
		padding-bottom: 1px;
	}
}
