.categories-list {
	&__item {
		padding: 10px 10px;
		border-radius: 8px;
		background-color: var(--items-bg-color);
		display: grid;
		grid-template-columns: 1fr 120px 110px 120px;
		align-items: center;
		column-gap: 30px;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__name {
		font-size: 18px;
		font-weight: 600;
		color: var(--secondary-color);
		transition: color 0.2s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		column-gap: 7px;
		text-align: left;
		span {
			flex-shrink: 0;
		}
	}
	&__counter {
		font-weight: 500;
		color: var(--secondary-color);
		text-transform: uppercase;
		font-size: 14px;
		span {
			&:last-child {
				color: var(--primary-color);
				font-size: 16px;
			}
		}
	}
	&__actions {
	}
	&__empty {
		color: var(--secondary-color);
		font-weight: 600;
	}
}

@media screen and (max-width: 768px) {
	.categories-list {
		&__item {
			padding: 8px 10px;
			column-gap: 10px;
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
		&__counter {
			font-size: 12px;
			span {
				&:last-child {
					font-size: 14px;
				}
			}
		}
		&__name {
			font-size: 16px;
			column-gap: 5px;
		}
	}
}

@media screen and (max-width: 680px) {
	.categories-list {
		&__item {
			grid-template-columns: 110px 1fr 120px;
			row-gap: 5px;
			align-items: start;
		}
		&__actions {
			grid-column: 3 / 4;
			grid-row: 1 / 3;
			display: flex;
			justify-content: flex-start;
		}
		&__name {
			font-size: 14px;
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
		&__counter {
			font-size: 10px;
			span {
				&:last-child {
					font-size: 12px;
				}
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.categories-list {
		&__item {
			grid-template-columns: 110px 1fr;
		}
		&__actions {
			padding-top: 3px;
			grid-column: 1 / 3;
			grid-row: 3 / 4;
		}
	}
}
